In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

custom_date_parser_1 = lambda x: datetime.strptime(x, "%d-%m-%Y")
custom_date_parser_2 = lambda x: datetime.strptime(x, "%m-%d-%Y")

df["Fecha comienzo"] = pd.to_datetime(df["Fecha comienzo"], format="%m/%d/%Y")
df["Dias transcurridos"] = (df["Fecha fin"] - df["Fecha comienzo"]).dt.days

In [2]:
df1 = pd.read_csv(
    "data/Ultimas_Desvinculaciones-RowData.csv",
    dtype={
        'Id': int,
        'Nombre': str,
        'Apellido': str,
        'Area': str,
        #'Fecha comienzo': str,
        #'Fecha fin': str,
        'Nivel': str,
        'Grupo recruitment': str,
        'Tiempo recruitment': int,
        'Rango Salarial': str,
        'RS competencia': str,
        'Manager': int,
        'Realizo Cursos': str,
    },
    converters={
        'Fecha comienzo': lambda x: datetime.strptime(x, "%m/%d/%Y"),
        'Fecha fin': lambda x: datetime.strptime(x, "%m/%d/%Y"),
    },
)
print(df1.shape)
print(df1.columns)
display(df1.dtypes)
display(df1.sample(30))

(30, 13)
Index(['Id', 'Nombre', 'Apellido', 'Area', 'Fecha comienzo', 'Fecha fin',
       'Nivel', 'Grupo recruitment', 'Tiempo recruitment', 'Rango Salarial',
       'RS competencia', 'Manager', 'Realizo Cursos'],
      dtype='object')

Id                             int64
Nombre                        object
Apellido                      object
Area                          object
Fecha comienzo        datetime64[ns]
Fecha fin             datetime64[ns]
Nivel                         object
Grupo recruitment             object
Tiempo recruitment             int64
Rango Salarial                object
RS competencia                object
Manager                        int64
Realizo Cursos                object
dtype: object

,Id,Nombre,Apellido,Area,Fecha comienzo,Fecha fin,Nivel,Grupo recruitment,Tiempo recruitment,Rango Salarial,RS competencia,Manager,Realizo Cursos
18,19,Rocio,Ruiz,Auditoria,2018-02-05,2021-01-30,N4,Grupo A,4,Rango 4,Rango 5,10,NO
1,2,Pedro,Lujan,Compras,2017-03-06,2021-12-31,N3,Grupo B,3,Rango 2,Rango 2,2,SI
14,15,Analia,Sosa,Compras,2018-10-01,2021-11-30,N4,Grupo A,4,Rango 4,Rango 4,2,NO
25,26,Fabian,Quiroz,Producción,2018-05-07,2021-09-30,N3,Grupo B,3,Rango 2,Rango 3,6,SI
10,11,Roberto,Pérez,Marketing,2019-07-01,2022-04-30,N5,Grupo B,5,Rango 5,Rango 5,9,SI
7,8,Francesca,López,Compras,2017-01-02,2021-06-30,N3,Grupo A,4,Rango 3,Rango 3,2,SI
5,6,Catalina,Gómez,Producción,2019-04-01,2022-03-31,N2,Grupo B,4,Rango 2,Rango 2,4,NO
4,5,Franco,Rodríguez,Marketing,2017-05-01,2017-11-30,N5,Grupo C,6,Rango 5,Rango 4,1,SI
29,30,Diego,Buzos,Auditoria,2021-09-06,2022-06-30,N1,Grupo C,3,Rango 1,Rango 1,10,SI
22,23,Camila,Prieto,IT,2022-01-03,2022-07-01,N6,Grupo C,6,Rango 6,Rango 6,5,NO
2,3,Juan,Albornoz,IT,2018-06-04,2019-04-30,N4,Grupo C,4,Rango 4,Rango 4,5,NO
11,12,Luis,Sánchez,Ventas,2020-07-13,2020-12-31,N5,Grupo C,5,Rango 6,Rango 6,8,NO
28,29,Dante,Martini,IT,2021-03-01,2021-12-31,N4,Grupo C,6,Rango 3,Rango 3,5,NO
20,21,Cristian,Martin,Compras,2017-11-06,2020-12-31,N5,Grupo C,4,Rango 6,Rango 5,2,SI
3,4,Sebastian,González,Legales,2018-05-07,2021-05-30,N2,Grupo A,4,Rango 2,Rango 2,3,SI
9,10,Ana,Diaz,IT,2017-03-06,2020-11-30,N4,Grupo A,3,Rango 3,Rango 3,7,NO
12,13,Alejandro,Romero,IT,2020-06-01,2022-02-28,N3,Grupo A,3,Rango 4,Rango 3,7,SI
24,25,Carolina,Petersen,Ventas,2021-07-05,2022-02-28,N7,Grupo B,4,Rango 6,Rango 6,8,SI
23,24,Micaela,Pauls,Producción,2019-01-07,2021-12-31,N6,Grupo A,5,Rango 6,Rango 6,4,SI
21,22,Matias,Bosques,Ventas,2018-12-03,2021-06-30,N4,Grupo B,3,Rango 4,Rango 4,8,SI
8,9,Nicolas,Martínez,IT,2021-01-04,2021-11-30,N2,Grupo C,6,Rango 3,Rango 3,5,SI
26,27,Rodrigo,Molinas,Compras,2019-06-03,2022-04-30,N2,Grupo A,4,Rango 2,Rango 2,2,SI
19,20,Marcelo,Flores,Ventas,2021-09-06,2022-05-31,N2,Grupo C,6,Rango 2,Rango 2,8,SI
15,16,Vanina,Benítez,IT,2019-08-05,2020-04-30,N5,Grupo C,5,Rango 6,Rango 6,5,SI
0,1,Romina,Brito,Marketing,2018-03-05,2018-12-31,N3,Grupo B,3,Rango 3,Rango 3,1,SI
27,28,Martina,Oliviera,Producción,2020-01-06,2022-06-30,N7,Grupo A,4,Rango 6,Rango 6,6,SI
13,14,Raul,García,Ventas,2019-02-04,2020-03-31,N3,Grupo C,6,Rango 3,Rango 3,8,SI
16,17,Guillermo,Ramírez,IT,2020-01-06,2022-05-31,N2,Grupo A,3,Rango 2,Rango 2,7,NO
17,18,Pedro,Torres,Marketing,2017-04-03,2019-12-31,N3,Grupo B,4,Rango 3,Rango 3,9,SI
6,7,Anabella,Fernández,Ventas,2020-07-06,2021-03-31,N4,Grupo A,3,Rango 4,Rango 4,8,NO

In [3]:
df1.rename(columns={
    'Id': 'id_employee',
    'Nombre': 'name',
    'Apellido': 'last_name',
    'Area' : 'area',
    'Fecha comienzo': 'date_start',
    'Fecha fin': 'date_end',
    'Nivel': 'level',
    'Grupo recruitment': 'recruitment_group',
    'Tiempo recruitment': 'recruitment_time',
    'Rango Salarial': 'rs_initial',
    'RS competencia': 'rs_competition',
    'Manager': 'id_manager',
    'Realizo Cursos': 'do_course',
}, inplace=True)

In [4]:
df1

,id_employee,name,last_name,area,date_start,date_end,level,recruitment_group,recruitment_time,rs_initial,rs_competition,id_manager,do_course
0,1,Romina,Brito,Marketing,2018-03-05,2018-12-31,N3,Grupo B,3,Rango 3,Rango 3,1,SI
1,2,Pedro,Lujan,Compras,2017-03-06,2021-12-31,N3,Grupo B,3,Rango 2,Rango 2,2,SI
2,3,Juan,Albornoz,IT,2018-06-04,2019-04-30,N4,Grupo C,4,Rango 4,Rango 4,5,NO
3,4,Sebastian,González,Legales,2018-05-07,2021-05-30,N2,Grupo A,4,Rango 2,Rango 2,3,SI
4,5,Franco,Rodríguez,Marketing,2017-05-01,2017-11-30,N5,Grupo C,6,Rango 5,Rango 4,1,SI
5,6,Catalina,Gómez,Producción,2019-04-01,2022-03-31,N2,Grupo B,4,Rango 2,Rango 2,4,NO
6,7,Anabella,Fernández,Ventas,2020-07-06,2021-03-31,N4,Grupo A,3,Rango 4,Rango 4,8,NO
7,8,Francesca,López,Compras,2017-01-02,2021-06-30,N3,Grupo A,4,Rango 3,Rango 3,2,SI
8,9,Nicolas,Martínez,IT,2021-01-04,2021-11-30,N2,Grupo C,6,Rango 3,Rango 3,5,SI
9,10,Ana,Diaz,IT,2017-03-06,2020-11-30,N4,Grupo A,3,Rango 3,Rango 3,7,NO
10,11,Roberto,Pérez,Marketing,2019-07-01,2022-04-30,N5,Grupo B,5,Rango 5,Rango 5,9,SI
11,12,Luis,Sánchez,Ventas,2020-07-13,2020-12-31,N5,Grupo C,5,Rango 6,Rango 6,8,NO
12,13,Alejandro,Romero,IT,2020-06-01,2022-02-28,N3,Grupo A,3,Rango 4,Rango 3,7,SI
13,14,Raul,García,Ventas,2019-02-04,2020-03-31,N3,Grupo C,6,Rango 3,Rango 3,8,SI
14,15,Analia,Sosa,Compras,2018-10-01,2021-11-30,N4,Grupo A,4,Rango 4,Rango 4,2,NO
15,16,Vanina,Benítez,IT,2019-08-05,2020-04-30,N5,Grupo C,5,Rango 6,Rango 6,5,SI
16,17,Guillermo,Ramírez,IT,2020-01-06,2022-05-31,N2,Grupo A,3,Rango 2,Rango 2,7,NO
17,18,Pedro,Torres,Marketing,2017-04-03,2019-12-31,N3,Grupo B,4,Rango 3,Rango 3,9,SI
18,19,Rocio,Ruiz,Auditoria,2018-02-05,2021-01-30,N4,Grupo A,4,Rango 4,Rango 5,10,NO
19,20,Marcelo,Flores,Ventas,2021-09-06,2022-05-31,N2,Grupo C,6,Rango 2,Rango 2,8,SI
20,21,Cristian,Martin,Compras,2017-11-06,2020-12-31,N5,Grupo C,4,Rango 6,Rango 5,2,SI
21,22,Matias,Bosques,Ventas,2018-12-03,2021-06-30,N4,Grupo B,3,Rango 4,Rango 4,8,SI
22,23,Camila,Prieto,IT,2022-01-03,2022-07-01,N6,Grupo C,6,Rango 6,Rango 6,5,NO
23,24,Micaela,Pauls,Producción,2019-01-07,2021-12-31,N6,Grupo A,5,Rango 6,Rango 6,4,SI
24,25,Carolina,Petersen,Ventas,2021-07-05,2022-02-28,N7,Grupo B,4,Rango 6,Rango 6,8,SI
25,26,Fabian,Quiroz,Producción,2018-05-07,2021-09-30,N3,Grupo B,3,Rango 2,Rango 3,6,SI
26,27,Rodrigo,Molinas,Compras,2019-06-03,2022-04-30,N2,Grupo A,4,Rango 2,Rango 2,2,SI
27,28,Martina,Oliviera,Producción,2020-01-06,2022-06-30,N7,Grupo A,4,Rango 6,Rango 6,6,SI
28,29,Dante,Martini,IT,2021-03-01,2021-12-31,N4,Grupo C,6,Rango 3,Rango 3,5,NO
29,30,Diego,Buzos,Auditoria,2021-09-06,2022-06-30,N1,Grupo C,3,Rango 1,Rango 1,10,SI

In [5]:
df1['employee_full_name'] = df1['name'] + ' ' + df1['last_name']
df1['duration_days'] = (df1['date_end'] - df1['date_start']).dt.days

In [6]:
df1.columns

Index(['id_employee', 'name', 'last_name', 'area', 'date_start', 'date_end',
       'level', 'recruitment_group', 'recruitment_time', 'rs_initial',
       'rs_competition', 'id_manager', 'do_course', 'employee_full_name',
       'duration_days'],
      dtype='object')

In [7]:
df1 = df1[[
    'employee_full_name', 'area', 'date_start', 'date_end', 'duration_days',
    'level', 'recruitment_group', 'recruitment_time', 'rs_initial',
    'rs_competition', 'id_manager', 'do_course',
]]

In [8]:
df1

,employee_full_name,area,date_start,date_end,duration_days,level,recruitment_group,recruitment_time,rs_initial,rs_competition,id_manager,do_course
0,Romina Brito,Marketing,2018-03-05,2018-12-31,301,N3,Grupo B,3,Rango 3,Rango 3,1,SI
1,Pedro Lujan,Compras,2017-03-06,2021-12-31,1761,N3,Grupo B,3,Rango 2,Rango 2,2,SI
2,Juan Albornoz,IT,2018-06-04,2019-04-30,330,N4,Grupo C,4,Rango 4,Rango 4,5,NO
3,Sebastian González,Legales,2018-05-07,2021-05-30,1119,N2,Grupo A,4,Rango 2,Rango 2,3,SI
4,Franco Rodríguez,Marketing,2017-05-01,2017-11-30,213,N5,Grupo C,6,Rango 5,Rango 4,1,SI
5,Catalina Gómez,Producción,2019-04-01,2022-03-31,1095,N2,Grupo B,4,Rango 2,Rango 2,4,NO
6,Anabella Fernández,Ventas,2020-07-06,2021-03-31,268,N4,Grupo A,3,Rango 4,Rango 4,8,NO
7,Francesca López,Compras,2017-01-02,2021-06-30,1640,N3,Grupo A,4,Rango 3,Rango 3,2,SI
8,Nicolas Martínez,IT,2021-01-04,2021-11-30,330,N2,Grupo C,6,Rango 3,Rango 3,5,SI
9,Ana Diaz,IT,2017-03-06,2020-11-30,1365,N4,Grupo A,3,Rango 3,Rango 3,7,NO
10,Roberto Pérez,Marketing,2019-07-01,2022-04-30,1034,N5,Grupo B,5,Rango 5,Rango 5,9,SI
11,Luis Sánchez,Ventas,2020-07-13,2020-12-31,171,N5,Grupo C,5,Rango 6,Rango 6,8,NO
12,Alejandro Romero,IT,2020-06-01,2022-02-28,637,N3,Grupo A,3,Rango 4,Rango 3,7,SI
13,Raul García,Ventas,2019-02-04,2020-03-31,421,N3,Grupo C,6,Rango 3,Rango 3,8,SI
14,Analia Sosa,Compras,2018-10-01,2021-11-30,1156,N4,Grupo A,4,Rango 4,Rango 4,2,NO
15,Vanina Benítez,IT,2019-08-05,2020-04-30,269,N5,Grupo C,5,Rango 6,Rango 6,5,SI
16,Guillermo Ramírez,IT,2020-01-06,2022-05-31,876,N2,Grupo A,3,Rango 2,Rango 2,7,NO
17,Pedro Torres,Marketing,2017-04-03,2019-12-31,1002,N3,Grupo B,4,Rango 3,Rango 3,9,SI
18,Rocio Ruiz,Auditoria,2018-02-05,2021-01-30,1090,N4,Grupo A,4,Rango 4,Rango 5,10,NO
19,Marcelo Flores,Ventas,2021-09-06,2022-05-31,267,N2,Grupo C,6,Rango 2,Rango 2,8,SI
20,Cristian Martin,Compras,2017-11-06,2020-12-31,1151,N5,Grupo C,4,Rango 6,Rango 5,2,SI
21,Matias Bosques,Ventas,2018-12-03,2021-06-30,940,N4,Grupo B,3,Rango 4,Rango 4,8,SI
22,Camila Prieto,IT,2022-01-03,2022-07-01,179,N6,Grupo C,6,Rango 6,Rango 6,5,NO
23,Micaela Pauls,Producción,2019-01-07,2021-12-31,1089,N6,Grupo A,5,Rango 6,Rango 6,4,SI
24,Carolina Petersen,Ventas,2021-07-05,2022-02-28,238,N7,Grupo B,4,Rango 6,Rango 6,8,SI
25,Fabian Quiroz,Producción,2018-05-07,2021-09-30,1242,N3,Grupo B,3,Rango 2,Rango 3,6,SI
26,Rodrigo Molinas,Compras,2019-06-03,2022-04-30,1062,N2,Grupo A,4,Rango 2,Rango 2,2,SI
27,Martina Oliviera,Producción,2020-01-06,2022-06-30,906,N7,Grupo A,4,Rango 6,Rango 6,6,SI
28,Dante Martini,IT,2021-03-01,2021-12-31,305,N4,Grupo C,6,Rango 3,Rango 3,5,NO
29,Diego Buzos,Auditoria,2021-09-06,2022-06-30,297,N1,Grupo C,3,Rango 1,Rango 1,10,SI

In [9]:
df2 = pd.read_csv(
    "data/Ultimas_Desvinculaciones-Rangos.csv",
    dtype={
        'Rango': str,
        'desde': int,
        'hasta': int,
    }
)
print(df2.shape)
print(df2.columns)
display(df2.dtypes)
display(df2.sample(5))

(10, 3)
Index(['Rango', 'desde', 'hasta'], dtype='object')

Rango    object
desde     int64
hasta     int64
dtype: object

      Rango   desde    hasta
1   Rango 2  200001   250000
9  Rango 10  800001  1000000
0   Rango 1  150000   200000
4   Rango 5  350001   400000
2   Rango 3  250001   300000

In [10]:
df2['avg_rs'] = (df2['desde'] + df2['hasta']) / 2

In [11]:
df2

      Rango   desde    hasta    avg_rs
0   Rango 1  150000   200000  175000.0
1   Rango 2  200001   250000  225000.5
2   Rango 3  250001   300000  275000.5
3   Rango 4  300001   350000  325000.5
4   Rango 5  350001   400000  375000.5
5   Rango 6  400001   500000  450000.5
6   Rango 7  500001   600000  550000.5
7   Rango 8  600001   700000  650000.5
8   Rango 9  700001   800000  750000.5
9  Rango 10  800001  1000000  900000.5

In [12]:
df12 = pd.merge(
    df1, df2[['Rango', 'avg_rs']],
    left_on='rs_initial',
    right_on='Rango',
    how='left'
)

In [13]:
df12

,employee_full_name,area,date_start,date_end,duration_days,level,recruitment_group,recruitment_time,rs_initial,rs_competition,id_manager,do_course,Rango,avg_rs
0,Romina Brito,Marketing,2018-03-05,2018-12-31,301,N3,Grupo B,3,Rango 3,Rango 3,1,SI,Rango 3,275000.5
1,Pedro Lujan,Compras,2017-03-06,2021-12-31,1761,N3,Grupo B,3,Rango 2,Rango 2,2,SI,Rango 2,225000.5
2,Juan Albornoz,IT,2018-06-04,2019-04-30,330,N4,Grupo C,4,Rango 4,Rango 4,5,NO,Rango 4,325000.5
3,Sebastian González,Legales,2018-05-07,2021-05-30,1119,N2,Grupo A,4,Rango 2,Rango 2,3,SI,Rango 2,225000.5
4,Franco Rodríguez,Marketing,2017-05-01,2017-11-30,213,N5,Grupo C,6,Rango 5,Rango 4,1,SI,Rango 5,375000.5
5,Catalina Gómez,Producción,2019-04-01,2022-03-31,1095,N2,Grupo B,4,Rango 2,Rango 2,4,NO,Rango 2,225000.5
6,Anabella Fernández,Ventas,2020-07-06,2021-03-31,268,N4,Grupo A,3,Rango 4,Rango 4,8,NO,Rango 4,325000.5
7,Francesca López,Compras,2017-01-02,2021-06-30,1640,N3,Grupo A,4,Rango 3,Rango 3,2,SI,Rango 3,275000.5
8,Nicolas Martínez,IT,2021-01-04,2021-11-30,330,N2,Grupo C,6,Rango 3,Rango 3,5,SI,Rango 3,275000.5
9,Ana Diaz,IT,2017-03-06,2020-11-30,1365,N4,Grupo A,3,Rango 3,Rango 3,7,NO,Rango 3,275000.5
10,Roberto Pérez,Marketing,2019-07-01,2022-04-30,1034,N5,Grupo B,5,Rango 5,Rango 5,9,SI,Rango 5,375000.5
11,Luis Sánchez,Ventas,2020-07-13,2020-12-31,171,N5,Grupo C,5,Rango 6,Rango 6,8,NO,Rango 6,450000.5
12,Alejandro Romero,IT,2020-06-01,2022-02-28,637,N3,Grupo A,3,Rango 4,Rango 3,7,SI,Rango 4,325000.5
13,Raul García,Ventas,2019-02-04,2020-03-31,421,N3,Grupo C,6,Rango 3,Rango 3,8,SI,Rango 3,275000.5
14,Analia Sosa,Compras,2018-10-01,2021-11-30,1156,N4,Grupo A,4,Rango 4,Rango 4,2,NO,Rango 4,325000.5
15,Vanina Benítez,IT,2019-08-05,2020-04-30,269,N5,Grupo C,5,Rango 6,Rango 6,5,SI,Rango 6,450000.5
16,Guillermo Ramírez,IT,2020-01-06,2022-05-31,876,N2,Grupo A,3,Rango 2,Rango 2,7,NO,Rango 2,225000.5
17,Pedro Torres,Marketing,2017-04-03,2019-12-31,1002,N3,Grupo B,4,Rango 3,Rango 3,9,SI,Rango 3,275000.5
18,Rocio Ruiz,Auditoria,2018-02-05,2021-01-30,1090,N4,Grupo A,4,Rango 4,Rango 5,10,NO,Rango 4,325000.5
19,Marcelo Flores,Ventas,2021-09-06,2022-05-31,267,N2,Grupo C,6,Rango 2,Rango 2,8,SI,Rango 2,225000.5
20,Cristian Martin,Compras,2017-11-06,2020-12-31,1151,N5,Grupo C,4,Rango 6,Rango 5,2,SI,Rango 6,450000.5
21,Matias Bosques,Ventas,2018-12-03,2021-06-30,940,N4,Grupo B,3,Rango 4,Rango 4,8,SI,Rango 4,325000.5
22,Camila Prieto,IT,2022-01-03,2022-07-01,179,N6,Grupo C,6,Rango 6,Rango 6,5,NO,Rango 6,450000.5
23,Micaela Pauls,Producción,2019-01-07,2021-12-31,1089,N6,Grupo A,5,Rango 6,Rango 6,4,SI,Rango 6,450000.5
24,Carolina Petersen,Ventas,2021-07-05,2022-02-28,238,N7,Grupo B,4,Rango 6,Rango 6,8,SI,Rango 6,450000.5
25,Fabian Quiroz,Producción,2018-05-07,2021-09-30,1242,N3,Grupo B,3,Rango 2,Rango 3,6,SI,Rango 2,225000.5
26,Rodrigo Molinas,Compras,2019-06-03,2022-04-30,1062,N2,Grupo A,4,Rango 2,Rango 2,2,SI,Rango 2,225000.5
27,Martina Oliviera,Producción,2020-01-06,2022-06-30,906,N7,Grupo A,4,Rango 6,Rango 6,6,SI,Rango 6,450000.5
28,Dante Martini,IT,2021-03-01,2021-12-31,305,N4,Grupo C,6,Rango 3,Rango 3,5,NO,Rango 3,275000.5
29,Diego Buzos,Auditoria,2021-09-06,2022-06-30,297,N1,Grupo C,3,Rango 1,Rango 1,10,SI,Rango 1,175000.0

In [14]:
df12.columns

Index(['employee_full_name', 'area', 'date_start', 'date_end', 'duration_days',
       'level', 'recruitment_group', 'recruitment_time', 'rs_initial',
       'rs_competition', 'id_manager', 'do_course', 'Rango', 'avg_rs'],
      dtype='object')

In [15]:
df12.rename(columns={
    'avg_rs': 'avg_rs_initial',
}, inplace=True)

df12 = df12[[
    'employee_full_name', 'area', 'date_start', 'date_end', 'duration_days',
    'level', 'recruitment_group', 'recruitment_time', 'avg_rs_initial',
    'rs_competition', 'id_manager', 'do_course',
]]

In [16]:
df12 = pd.merge(
    df12, df2[['Rango', 'avg_rs']],
    left_on='rs_competition',
    right_on='Rango',
    how='left'
)

In [17]:
df12.rename(columns={
    'avg_rs': 'avg_rs_competition',
}, inplace=True)

df12 = df12[[
    'employee_full_name', 'area', 'date_start', 'date_end', 'duration_days',
    'level', 'recruitment_group', 'recruitment_time', 'avg_rs_initial',
    'avg_rs_competition', 'id_manager', 'do_course',
]]

In [18]:
df12

,employee_full_name,area,date_start,date_end,duration_days,level,recruitment_group,recruitment_time,avg_rs_initial,avg_rs_competition,id_manager,do_course
0,Romina Brito,Marketing,2018-03-05,2018-12-31,301,N3,Grupo B,3,275000.5,275000.5,1,SI
1,Pedro Lujan,Compras,2017-03-06,2021-12-31,1761,N3,Grupo B,3,225000.5,225000.5,2,SI
2,Juan Albornoz,IT,2018-06-04,2019-04-30,330,N4,Grupo C,4,325000.5,325000.5,5,NO
3,Sebastian González,Legales,2018-05-07,2021-05-30,1119,N2,Grupo A,4,225000.5,225000.5,3,SI
4,Franco Rodríguez,Marketing,2017-05-01,2017-11-30,213,N5,Grupo C,6,375000.5,325000.5,1,SI
5,Catalina Gómez,Producción,2019-04-01,2022-03-31,1095,N2,Grupo B,4,225000.5,225000.5,4,NO
6,Anabella Fernández,Ventas,2020-07-06,2021-03-31,268,N4,Grupo A,3,325000.5,325000.5,8,NO
7,Francesca López,Compras,2017-01-02,2021-06-30,1640,N3,Grupo A,4,275000.5,275000.5,2,SI
8,Nicolas Martínez,IT,2021-01-04,2021-11-30,330,N2,Grupo C,6,275000.5,275000.5,5,SI
9,Ana Diaz,IT,2017-03-06,2020-11-30,1365,N4,Grupo A,3,275000.5,275000.5,7,NO
10,Roberto Pérez,Marketing,2019-07-01,2022-04-30,1034,N5,Grupo B,5,375000.5,375000.5,9,SI
11,Luis Sánchez,Ventas,2020-07-13,2020-12-31,171,N5,Grupo C,5,450000.5,450000.5,8,NO
12,Alejandro Romero,IT,2020-06-01,2022-02-28,637,N3,Grupo A,3,325000.5,275000.5,7,SI
13,Raul García,Ventas,2019-02-04,2020-03-31,421,N3,Grupo C,6,275000.5,275000.5,8,SI
14,Analia Sosa,Compras,2018-10-01,2021-11-30,1156,N4,Grupo A,4,325000.5,325000.5,2,NO
15,Vanina Benítez,IT,2019-08-05,2020-04-30,269,N5,Grupo C,5,450000.5,450000.5,5,SI
16,Guillermo Ramírez,IT,2020-01-06,2022-05-31,876,N2,Grupo A,3,225000.5,225000.5,7,NO
17,Pedro Torres,Marketing,2017-04-03,2019-12-31,1002,N3,Grupo B,4,275000.5,275000.5,9,SI
18,Rocio Ruiz,Auditoria,2018-02-05,2021-01-30,1090,N4,Grupo A,4,325000.5,375000.5,10,NO
19,Marcelo Flores,Ventas,2021-09-06,2022-05-31,267,N2,Grupo C,6,225000.5,225000.5,8,SI
20,Cristian Martin,Compras,2017-11-06,2020-12-31,1151,N5,Grupo C,4,450000.5,375000.5,2,SI
21,Matias Bosques,Ventas,2018-12-03,2021-06-30,940,N4,Grupo B,3,325000.5,325000.5,8,SI
22,Camila Prieto,IT,2022-01-03,2022-07-01,179,N6,Grupo C,6,450000.5,450000.5,5,NO
23,Micaela Pauls,Producción,2019-01-07,2021-12-31,1089,N6,Grupo A,5,450000.5,450000.5,4,SI
24,Carolina Petersen,Ventas,2021-07-05,2022-02-28,238,N7,Grupo B,4,450000.5,450000.5,8,SI
25,Fabian Quiroz,Producción,2018-05-07,2021-09-30,1242,N3,Grupo B,3,225000.5,275000.5,6,SI
26,Rodrigo Molinas,Compras,2019-06-03,2022-04-30,1062,N2,Grupo A,4,225000.5,225000.5,2,SI
27,Martina Oliviera,Producción,2020-01-06,2022-06-30,906,N7,Grupo A,4,450000.5,450000.5,6,SI
28,Dante Martini,IT,2021-03-01,2021-12-31,305,N4,Grupo C,6,275000.5,275000.5,5,NO
29,Diego Buzos,Auditoria,2021-09-06,2022-06-30,297,N1,Grupo C,3,175000.0,175000.0,10,SI

In [19]:
df3 = pd.read_csv(
    "data/Ultimas_Desvinculaciones-Managers.csv",
    dtype={
        'Id': int,
        'Nombre': str,
        'Apellido': str,
    }
)
print(df3.shape)
print(df3.columns)
display(df3.dtypes)
display(df3.sample(10))

(10, 3)
Index(['Id', 'Nombre', 'Apellido'], dtype='object')

Id           int64
Nombre      object
Apellido    object
dtype: object

   Id     Nombre  Apellido
9  10     Daniel   Quiroga
2   3       José  Feligres
3   4     Miriam    Pisani
1   2     Marina    Pitana
4   5  Alejandro  Pitorino
6   7     Martín    Viglia
7   8    Ricardo   Ronaldo
8   9     Vanina  Quintana
5   6      Sonia  Kamlasky
0   1    Rolando     Casas

In [20]:
df3['manager_full_name'] = df3['Nombre'] + ' ' + df3['Apellido']
df3

   Id     Nombre  Apellido   manager_full_name
0   1    Rolando     Casas       Rolando Casas
1   2     Marina    Pitana       Marina Pitana
2   3       José  Feligres       José Feligres
3   4     Miriam    Pisani       Miriam Pisani
4   5  Alejandro  Pitorino  Alejandro Pitorino
5   6      Sonia  Kamlasky      Sonia Kamlasky
6   7     Martín    Viglia       Martín Viglia
7   8    Ricardo   Ronaldo     Ricardo Ronaldo
8   9     Vanina  Quintana     Vanina Quintana
9  10     Daniel   Quiroga      Daniel Quiroga

In [21]:
df123 = pd.merge(
    df12, df3[['Id', 'manager_full_name']],
    left_on='id_manager',
    right_on='Id',
    how='left'
)

In [22]:
df123

,employee_full_name,area,date_start,date_end,duration_days,level,recruitment_group,recruitment_time,avg_rs_initial,avg_rs_competition,id_manager,do_course,Id,manager_full_name
0,Romina Brito,Marketing,2018-03-05,2018-12-31,301,N3,Grupo B,3,275000.5,275000.5,1,SI,1,Rolando Casas
1,Pedro Lujan,Compras,2017-03-06,2021-12-31,1761,N3,Grupo B,3,225000.5,225000.5,2,SI,2,Marina Pitana
2,Juan Albornoz,IT,2018-06-04,2019-04-30,330,N4,Grupo C,4,325000.5,325000.5,5,NO,5,Alejandro Pitorino
3,Sebastian González,Legales,2018-05-07,2021-05-30,1119,N2,Grupo A,4,225000.5,225000.5,3,SI,3,José Feligres
4,Franco Rodríguez,Marketing,2017-05-01,2017-11-30,213,N5,Grupo C,6,375000.5,325000.5,1,SI,1,Rolando Casas
5,Catalina Gómez,Producción,2019-04-01,2022-03-31,1095,N2,Grupo B,4,225000.5,225000.5,4,NO,4,Miriam Pisani
6,Anabella Fernández,Ventas,2020-07-06,2021-03-31,268,N4,Grupo A,3,325000.5,325000.5,8,NO,8,Ricardo Ronaldo
7,Francesca López,Compras,2017-01-02,2021-06-30,1640,N3,Grupo A,4,275000.5,275000.5,2,SI,2,Marina Pitana
8,Nicolas Martínez,IT,2021-01-04,2021-11-30,330,N2,Grupo C,6,275000.5,275000.5,5,SI,5,Alejandro Pitorino
9,Ana Diaz,IT,2017-03-06,2020-11-30,1365,N4,Grupo A,3,275000.5,275000.5,7,NO,7,Martín Viglia
10,Roberto Pérez,Marketing,2019-07-01,2022-04-30,1034,N5,Grupo B,5,375000.5,375000.5,9,SI,9,Vanina Quintana
11,Luis Sánchez,Ventas,2020-07-13,2020-12-31,171,N5,Grupo C,5,450000.5,450000.5,8,NO,8,Ricardo Ronaldo
12,Alejandro Romero,IT,2020-06-01,2022-02-28,637,N3,Grupo A,3,325000.5,275000.5,7,SI,7,Martín Viglia
13,Raul García,Ventas,2019-02-04,2020-03-31,421,N3,Grupo C,6,275000.5,275000.5,8,SI,8,Ricardo Ronaldo
14,Analia Sosa,Compras,2018-10-01,2021-11-30,1156,N4,Grupo A,4,325000.5,325000.5,2,NO,2,Marina Pitana
15,Vanina Benítez,IT,2019-08-05,2020-04-30,269,N5,Grupo C,5,450000.5,450000.5,5,SI,5,Alejandro Pitorino
16,Guillermo Ramírez,IT,2020-01-06,2022-05-31,876,N2,Grupo A,3,225000.5,225000.5,7,NO,7,Martín Viglia
17,Pedro Torres,Marketing,2017-04-03,2019-12-31,1002,N3,Grupo B,4,275000.5,275000.5,9,SI,9,Vanina Quintana
18,Rocio Ruiz,Auditoria,2018-02-05,2021-01-30,1090,N4,Grupo A,4,325000.5,375000.5,10,NO,10,Daniel Quiroga
19,Marcelo Flores,Ventas,2021-09-06,2022-05-31,267,N2,Grupo C,6,225000.5,225000.5,8,SI,8,Ricardo Ronaldo
20,Cristian Martin,Compras,2017-11-06,2020-12-31,1151,N5,Grupo C,4,450000.5,375000.5,2,SI,2,Marina Pitana
21,Matias Bosques,Ventas,2018-12-03,2021-06-30,940,N4,Grupo B,3,325000.5,325000.5,8,SI,8,Ricardo Ronaldo
22,Camila Prieto,IT,2022-01-03,2022-07-01,179,N6,Grupo C,6,450000.5,450000.5,5,NO,5,Alejandro Pitorino
23,Micaela Pauls,Producción,2019-01-07,2021-12-31,1089,N6,Grupo A,5,450000.5,450000.5,4,SI,4,Miriam Pisani
24,Carolina Petersen,Ventas,2021-07-05,2022-02-28,238,N7,Grupo B,4,450000.5,450000.5,8,SI,8,Ricardo Ronaldo
25,Fabian Quiroz,Producción,2018-05-07,2021-09-30,1242,N3,Grupo B,3,225000.5,275000.5,6,SI,6,Sonia Kamlasky
26,Rodrigo Molinas,Compras,2019-06-03,2022-04-30,1062,N2,Grupo A,4,225000.5,225000.5,2,SI,2,Marina Pitana
27,Martina Oliviera,Producción,2020-01-06,2022-06-30,906,N7,Grupo A,4,450000.5,450000.5,6,SI,6,Sonia Kamlasky
28,Dante Martini,IT,2021-03-01,2021-12-31,305,N4,Grupo C,6,275000.5,275000.5,5,NO,5,Alejandro Pitorino
29,Diego Buzos,Auditoria,2021-09-06,2022-06-30,297,N1,Grupo C,3,175000.0,175000.0,10,SI,10,Daniel Quiroga

In [23]:
df123.columns

Index(['employee_full_name', 'area', 'date_start', 'date_end', 'duration_days',
       'level', 'recruitment_group', 'recruitment_time', 'avg_rs_initial',
       'avg_rs_competition', 'id_manager', 'do_course', 'Id',
       'manager_full_name'],
      dtype='object')

In [24]:
df123 = df123[[
    'employee_full_name', 'area', 'date_start', 'date_end', 'duration_days',
    'level', 'recruitment_group', 'recruitment_time', 'avg_rs_initial',
    'avg_rs_competition', 'manager_full_name', 'do_course',
]]

In [25]:
df123

,employee_full_name,area,date_start,date_end,duration_days,level,recruitment_group,recruitment_time,avg_rs_initial,avg_rs_competition,manager_full_name,do_course
0,Romina Brito,Marketing,2018-03-05,2018-12-31,301,N3,Grupo B,3,275000.5,275000.5,Rolando Casas,SI
1,Pedro Lujan,Compras,2017-03-06,2021-12-31,1761,N3,Grupo B,3,225000.5,225000.5,Marina Pitana,SI
2,Juan Albornoz,IT,2018-06-04,2019-04-30,330,N4,Grupo C,4,325000.5,325000.5,Alejandro Pitorino,NO
3,Sebastian González,Legales,2018-05-07,2021-05-30,1119,N2,Grupo A,4,225000.5,225000.5,José Feligres,SI
4,Franco Rodríguez,Marketing,2017-05-01,2017-11-30,213,N5,Grupo C,6,375000.5,325000.5,Rolando Casas,SI
5,Catalina Gómez,Producción,2019-04-01,2022-03-31,1095,N2,Grupo B,4,225000.5,225000.5,Miriam Pisani,NO
6,Anabella Fernández,Ventas,2020-07-06,2021-03-31,268,N4,Grupo A,3,325000.5,325000.5,Ricardo Ronaldo,NO
7,Francesca López,Compras,2017-01-02,2021-06-30,1640,N3,Grupo A,4,275000.5,275000.5,Marina Pitana,SI
8,Nicolas Martínez,IT,2021-01-04,2021-11-30,330,N2,Grupo C,6,275000.5,275000.5,Alejandro Pitorino,SI
9,Ana Diaz,IT,2017-03-06,2020-11-30,1365,N4,Grupo A,3,275000.5,275000.5,Martín Viglia,NO
10,Roberto Pérez,Marketing,2019-07-01,2022-04-30,1034,N5,Grupo B,5,375000.5,375000.5,Vanina Quintana,SI
11,Luis Sánchez,Ventas,2020-07-13,2020-12-31,171,N5,Grupo C,5,450000.5,450000.5,Ricardo Ronaldo,NO
12,Alejandro Romero,IT,2020-06-01,2022-02-28,637,N3,Grupo A,3,325000.5,275000.5,Martín Viglia,SI
13,Raul García,Ventas,2019-02-04,2020-03-31,421,N3,Grupo C,6,275000.5,275000.5,Ricardo Ronaldo,SI
14,Analia Sosa,Compras,2018-10-01,2021-11-30,1156,N4,Grupo A,4,325000.5,325000.5,Marina Pitana,NO
15,Vanina Benítez,IT,2019-08-05,2020-04-30,269,N5,Grupo C,5,450000.5,450000.5,Alejandro Pitorino,SI
16,Guillermo Ramírez,IT,2020-01-06,2022-05-31,876,N2,Grupo A,3,225000.5,225000.5,Martín Viglia,NO
17,Pedro Torres,Marketing,2017-04-03,2019-12-31,1002,N3,Grupo B,4,275000.5,275000.5,Vanina Quintana,SI
18,Rocio Ruiz,Auditoria,2018-02-05,2021-01-30,1090,N4,Grupo A,4,325000.5,375000.5,Daniel Quiroga,NO
19,Marcelo Flores,Ventas,2021-09-06,2022-05-31,267,N2,Grupo C,6,225000.5,225000.5,Ricardo Ronaldo,SI
20,Cristian Martin,Compras,2017-11-06,2020-12-31,1151,N5,Grupo C,4,450000.5,375000.5,Marina Pitana,SI
21,Matias Bosques,Ventas,2018-12-03,2021-06-30,940,N4,Grupo B,3,325000.5,325000.5,Ricardo Ronaldo,SI
22,Camila Prieto,IT,2022-01-03,2022-07-01,179,N6,Grupo C,6,450000.5,450000.5,Alejandro Pitorino,NO
23,Micaela Pauls,Producción,2019-01-07,2021-12-31,1089,N6,Grupo A,5,450000.5,450000.5,Miriam Pisani,SI
24,Carolina Petersen,Ventas,2021-07-05,2022-02-28,238,N7,Grupo B,4,450000.5,450000.5,Ricardo Ronaldo,SI
25,Fabian Quiroz,Producción,2018-05-07,2021-09-30,1242,N3,Grupo B,3,225000.5,275000.5,Sonia Kamlasky,SI
26,Rodrigo Molinas,Compras,2019-06-03,2022-04-30,1062,N2,Grupo A,4,225000.5,225000.5,Marina Pitana,SI
27,Martina Oliviera,Producción,2020-01-06,2022-06-30,906,N7,Grupo A,4,450000.5,450000.5,Sonia Kamlasky,SI
28,Dante Martini,IT,2021-03-01,2021-12-31,305,N4,Grupo C,6,275000.5,275000.5,Alejandro Pitorino,NO
29,Diego Buzos,Auditoria,2021-09-06,2022-06-30,297,N1,Grupo C,3,175000.0,175000.0,Daniel Quiroga,SI

In [26]:
df123.to_csv("data/Ultimas_Desvinculaciones-Total.csv", index=False)